#cloud-config
hostname: ${name}
user: ansible
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDS976qr25vZYwhUuHjyyIVBwTISF/wu5QmezuLIllMuclJDNvnyXxjdZyrP50yPk1lHWM23Lu7zYDdRmTVLf4i/OT4Jmg5dFFKJoZiLKEO4LWtZKxesPSeg4D18Z0SvGlve6benDK5YyDh3xVXlUC3QDUE95DVZ5/WfuvXT4HzmAMtvSEN6u/mJYPNj8IBxcxdUViGjJeAh7tP59Pmmpnxpmgao21OhTk7eB7sxO+h76ZQMDxDJhJ3hTo+h8tebAPjrRM7rQnXUra4op2IlGSoHHA9WcNFw4TMlNrSOU3R4v7hQkNlWPAmMDFStze9Pkdr7RQ2X/uCmD5r2TDSoKnZBhoOEIgZ540c4S9dCGrOcw3UgKDUllSzZqcAcnJCh6ReIgW5ZZpi5bhAJ4BdUEDLCa41cZ+cf/GNKSBUiFPEdXA7OwYOk+QBUugezf0qdavf/L9KVz3iPt3nszB0M5Hmo6Si4MTTeSmU3kXV9UGWGl/UESRs1gz/Ril2DdxqqRpPQLTmHTmTFN3mi5IRmNdIc6H7yD7h+RWAp758zaQHr79ZP0XUEbE/YY+rR/wcrAeZxDA+6T7UjcMDckHNA3AF/Agi7sWamkrVZHDnnPMvOXC1PW/+8+moPIHuSL2W2w+OMgbVaY6/usVxsyo1Ky6yz69J5IDmZ472TbyawbhEyw== dam@dam01
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDXiyYEUHQOC2T9OQol52MCTaZFE1UFvBcsrl4NjgURvVU5BjP6IQF+1E7o9DqDGRZOj1ddHR4SfVepGvXjomUyGYi7N3ii/lZfHvua0S5BUOua+kfLm2OWKkBqYlZOk1K99OGIIavS6xnMULIkwv01TmcuJeyBPjrioGZhqkUpHdWv2NsFQjVyuu9rr8rvwcH1DEqLlzwrfrMYEfFASMQ6DXv/IiZJGBol613RfgYxRh1qfURO8aPe3twus8MAhTiZ60KEVOUkH0Br8L9CxHYqGu+qnmiLYnD0CYyj2JTF/UJ8qcipl1SOdSvCu5A07SJuBMzDJu7qxpORpoVFnuWQInpJUJvLsAOZ4TNiAL842+yF2eNl+ORC3HY6AwTktCEldFILCAVTFigAMPzHM+KoULPABzH9mVhhOVYDLWRPYm0Zcbyj9PwK6WBz1+QalxFnMRTWCZTjRkyurejcvvJ0MCCacFbwP7t0/LOnML5A1ee5K4A1rviSOIJcjXIn9E4JHsGgl3ZkPQ56YGEYTwCclnj8IxbupKJVMasE+bM+UviZhjT9cfvBgwkTZPwBGc0tw7i6sU5JB1gYkBeR79NJERFLRqRdyog2T/0TpahBPtZAGEz9g4UcosMrxqfrNE59GrYuQL5qn1e9tGWFQdwkwLeBrEDXP0VoP/Y5R5f4pQ== ebbestad@linbast01.habbis.trade
manage_etc_hosts: localhost
fqdn: ${name}.${zone}
package_upgrade: true
users:
 - default
  # to encrypt password mkpasswd -m sha-512
 - passwd: yourpasswordhash
